<nav>
  <div class="nav-links">
    <a href="/" class="mapua">Mapua Univerity</a>
    <ul class="links-container">
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
