<nav>
  <div class="nav-links">
    <a target="_blank" href="https://www.mapua.edu.ph/" class="mapua"
      >Mapua Univerity</a
    >
    <ul class="links-container">
      <li><a href="">Sign Up</a></li>
      <li><a href="">Login</a></li>
    </ul>
  </div>
</nav>
