<nav>
  <div class="nav-links">
    <a href="/" class="mapua">Map&uacutea University</a>
    <ul class="links-container">
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/login">Login</a></li>
    </ul>
  </div>
</nav>
