<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="forms-title">
      <h1>Oops! Something Went Wrong :(</h1>
    </div>
    <main>
      <h1><%= msg %></h1>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
