<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="title">
      <h1>ECE199R: Web App Project</h1>
    </div>
    <main>
      <div class="hero">
        <img id="mapua-logo" src="/img/mapua.png" alt="mapua-logo" />
        <h1>Item Receipt Confirmation</h1>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
