<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="forms-title">
      <h1>Item Receipt Confirmation</h1>
    </div>
    <main>
      <form>
        <div class="forms-container">
          <div class="formError"></div>
          <div class="flex">
            <label for="username"><b>Username:</b></label>
            <input
              type="text"
              placeholder=" Username"
              name="username"
              required
            />
          </div>
          <div class="flex">
            <label for="password"><b>Password:</b></label>

            <input
              type="password"
              placeholder=" Password"
              name="password"
              required
            />
          </div>
          <button type="submit">Login</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    const form = document.querySelector("form");
    const formError = document.querySelector(".formError");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const username = form.username.value;
      const password = form.password.value;

      try {
        const res = await fetch("/users/login", {
          method: "post",
          body: JSON.stringify({ username, password }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        if (data.success) {
          location.assign("/users/items");
        } else {
          formError.textContent = "Incorrect Username/Password";
        }
      } catch (err) {
        formError.textContent = "Incorrect Username/Password";
      }
    });
  </script>
</html>
