<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="forms-title">
      <h1>User Registration</h1>
    </div>
    <main>
      <form>
        <div class="forms-container">
          <h1>Please enter the following information:</h1>
          <div class="formError"></div>
          <div class="flex">
            <label for="firstname"><b>Firstname:</b></label>
            <input
              id="firstname"
              type="text"
              placeholder="Firstname"
              name="firstname"
              required
            />
          </div>
          <div class="flex">
            <label for="lastname"><b>Lastname:</b></label>
            <input
              id="lastname"
              type="text"
              placeholder="Lastname"
              name="lastname"
              required
            />
          </div>
          <div class="flex">
            <label for="username"><b>Username:</b></label>
            <input
              id="username"
              type="text"
              placeholder="Username"
              name="username"
              required
            />
          </div>
          <div class="flex">
            <label for="password"><b>Password:</b></label>

            <input
              id="password"
              type="password"
              placeholder="Password"
              name="password"
              required
            />
          </div>
          <div class="flex">
            <label for="confirmPassword"><b>Confirm:</b></label>

            <input
              id="confirmPassword"
              type="password"
              placeholder="Confirm Password"
              name="confirmpassword"
              required
            />
          </div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    const form = document.querySelector("form");
    const formError = document.querySelector(".formError");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const firstname = form.firstname.value;
      const lastname = form.lastname.value;
      const username = form.username.value;
      const password = form.password.value;
      const confirmPassword = form.confirmPassword.value;

      try {
        if (password === confirmPassword) {
          const res = await fetch("/users/register", {
            method: "post",
            body: JSON.stringify({ firstname, lastname, username, password }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.err) {
            if (data.err.name === "UserExistsError") {
              formError.textContent = "Username already exists";
            } else {
              formError.textContent = "Something went wrong";
            }
          } else {
            location.assign("/users/login");
          }
        } else {
          formError.textContent = "Passwords do not match.";
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
