<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECE199R Web App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="mapua.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="forms-title">
      <h1>Item Receipt Confirmation</h1>
    </div>
    <main>
      <form action="/signup" method="post">
        <div class="forms-container">
          <h1>Please enter the following information:</h1>
          <div class="flex">
            <label for="firstname"><b>Firstname:</b></label>
            <input
              id="firstname"
              type="text"
              placeholder="Firstname"
              name="firstname"
              required
            />
          </div>
          <div class="flex">
            <label for="lastname"><b>Lastname:</b></label>
            <input
              id="lastname"
              type="text"
              placeholder="Lastname"
              name="lastname"
              required
            />
          </div>
          <div class="flex">
            <label for="username"><b>Username:</b></label>
            <input
              id="username"
              type="text"
              placeholder="Username"
              name="username"
              required
            />
          </div>
          <div class="flex">
            <label for="password"><b>Password:</b></label>

            <input
              id="Password"
              type="password"
              placeholder="Password"
              name="password"
              required
            />
          </div>
          <div class="flex">
            <label for="confirmPassword"><b>Confirm:</b></label>

            <input
              id="confirmPassword"
              type="password"
              placeholder="Confirm Password"
              name="password"
              required
            />
          </div>
          <button type="submit">Sign Up</button>
        </div>
      </form>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
