<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <nav>
      <div class="nav-links">
        <a href="/" class="mapua">Map&uacutea University</a>
        <ul class="links-container">
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="forms-title">
      <h1>User: <%= user%></h1>
    </div>
    <main>
      <form>
        <div class="forms-container">
          <h1>Please enter the item information:</h1>
          <div class="formError"></div>
          <div class="flex">
            <label for="unitcode"><b>Code:</b></label>
            <input
              id="unitcode"
              type="text"
              placeholder="Unit Code"
              name="unitcode"
              required
            />
          </div>
          <div class="flex">
            <label for="unitcount"><b>Count:</b></label>
            <input
              id="unitcount"
              type="number"
              placeholder="Unit Count"
              name="unitcount"
              required
            />
          </div>
          <div class="flex">
            <label for="condition"><b>Condition:</b></label>
            <input
              id="condition"
              type="text"
              placeholder="Item Condition"
              name="condition"
              required
            />
          </div>
          <div class="flex">
            <label for="remarks"><b>Remarks:</b></label>

            <input
              id="remarks"
              type="text"
              placeholder="Remarks"
              name="remarks"
              required
            />
          </div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
  <script>
    const form = document.querySelector("form");
    const formError = document.querySelector(".formError");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const unitcode = form.unitcode.value;
      const unitcount = form.unitcount.value;
      const condition = form.condition.value;
      const remarks = form.remarks.value;

      try {
        const res = await fetch("/items", {
          method: "post",
          body: JSON.stringify({ unitcode, unitcount, condition, remarks }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.success) {
          alert("Submission Successful");
          location.assign("/users/submit");
        } else {
          formError.textContent = "Submission Error";
        }
      } catch (err) {
        formError.textContent = "Submission Error";
      }
    });
  </script>
</html>
