<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECE199R Web App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="mapua.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="forms-title">
      <h1>Item Receipt Confirmation</h1>
    </div>
    <main>
      <form action="/submit" method="post">
        <div class="forms-container">
          <h1>Please enter the item information:</h1>
          <div class="flex">
            <label for="unitcode"><b>Code:</b></label>
            <input
              id="unitcode"
              type="text"
              placeholder="Unit Code"
              name="unitcode"
              required
            />
          </div>
          <div class="flex">
            <label for="unitcount"><b>Count:</b></label>
            <input
              id="unitcount"
              type="text"
              placeholder="Unit Count"
              name="unitcount"
              required
            />
          </div>
          <div class="flex">
            <label for="condition"><b>Condition:</b></label>
            <input
              id="condition"
              type="text"
              placeholder="Item Condition"
              name="condition"
              required
            />
          </div>
          <div class="flex">
            <label for="remarks"><b>Remarks:</b></label>

            <input
              id="remarks"
              type="text"
              placeholder="Remarks"
              name="remarks"
              required
            />
          </div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
